@page "/products"

@inject ISearchProduct searchProduct

<h3>SearchProductComponent</h3>

<ul>
    @foreach(var prod in products)
    {
        <li>@prod.Name</li>
    }
</ul>

@code {
    private IEnumerable<Product> products = new List<Product>();

    protected override void OnInitialized()
    {
        base.OnInitialized();
        this.products = searchProduct.Execute();
    }
}
