@if (this.product != null)
{
    <tr>
        <td>@product.Name</td>
        <td>@product.Brand</td>
        <td style="text-align: right;">@product.Price.ToString()</td>
    </tr>
}

@code {
    [Parameter]
    public Product product { get; set; }
}
