<form class="row g-3">    
    <div class="col-auto">
        <label for="filter">Search</label>
        <input type="text" class="form-control" id="filter" @bind-value="filter" />        
    </div>
    <div class="col-auto">
        <button type="button" class="btn btn-primary mt-4" @onclick="handleSearch">Search</button>
    </div>
</form>

@code {
    private string filter = "";

    [Parameter]
    public EventCallback<string> onSearch { get; set; }

    private void handleSearch()
    {
        this.onSearch.InvokeAsync(this.filter);
    }
}